@page "/Player"


@using LionsDemo.Data
@using LionsDemo.Models

@inject IDataService dataService

<div class="row">
    <div class="col-12">
        <h3>
            Select Player: @(selectedPlayer.PlayerId == 0 ? "" : $"{selectedPlayer.LastName}, {selectedPlayer.FirstName}")
        </h3>
        <div>
            <Dropdown>
                <DropdownToggle Color="Color.Primary">
                    Select a Player...
                </DropdownToggle>
                <DropdownMenu MaxMenuHeight="500px">
                    @foreach (var p in allPlayers)
                        {
                            // update so that selected player returns GetPlayerByName
                            //Clicked="() => GetPlayerByName(@($"{selectedPlayer.FirstName} {selectedPlayer.LastName}"))
                        <DropdownItem Clicked="() => { selectedPlayer = p; }">@($"{p.LastName}, {p.FirstName}")</DropdownItem>
                        <DropdownDivider />
                    }
                </DropdownMenu>
            </Dropdown>
        </div>
    </div>
    @*<div class="col-12">
         <strong>OBJECTIVE: Build a cool player page any way you see fit TESTTT</strong>
    </div>*@
</div>

<div class="row g-2">
    <div class="player-info col-sm-12 col-xxl-6" style="background-color: white;">
        <Card Margin="Margin.Is4.OnY">
            <img Class="player-photo center" src="https://i.imgur.com/LBQBqvP.png" alt="Player Headshot">
            <CardBody>
                <CardTitle Size="5" Class="text-center">Jared Goff</CardTitle>
                <CardText Class="text-center">
                    QB #16
                </CardText>
            </CardBody>
        </Card>
    </div>
    <div class="col-sm-12 col-xxl-6" style="background-color: white;">
        <Card Margin="Margin.Is4.OnY">
            <CardBody>
                <CardTitle Size="5" Class="text-center">Player Information</CardTitle>
                <CardText>
                    Team:
                </CardText>
                <CardText>
                    Notes:
                </CardText>
                <CardText>
                    Injury History:
                </CardText>
            </CardBody>
        </Card>
    </div>
    <div class="table-responsive">
        <h3 class="center">Player Statistics</h3>
        <table class="table table-striped caption-top">
            <caption>2021 Stats</caption>
            <tr class="table-light">
                <th>Position</th>
                <th>Pass Yds</th>
                <th>Att</th>
                <th>Cmp</th>
                <th>Cmp %</th>
                <th>TD</th>
                <th>INT</th>
                <th>QBR</th>
            </tr>
            <tr>
                <td>QB</td>
                <td>3245</td>
                <td>494</td>
                <td>332</td>
                <td>67.2</td>
                <td>19</td>
                <td>8</td>
                <td>91.5</td>
            </tr>
        </table>
    </div>
    <div class="col get-data center" style="background-color: #F8F9FA; width: 50vh;">
        <button @onclick="getPlayerByName" class="btn btn-primary">Get Player By Name</button>
        @foreach (var p in searchedPlayers)
            {
                <ul>
                    <li>@($"{p.LastName}, {p.FirstName}")</li>
                </ul>
            }
    </div>
    <div class="col get-data center" style="background-color: #F8F9FA; width: 50vh;">
        <button @onclick="getTeams" class="btn btn-primary">Get Teams</button>
        @foreach (var t in allTeams)
            {
                <ul>
                    <li>@($"{t.Name}")</li>
                </ul>
            }
    </div>
</div>

@code {
    IEnumerable<Player> allPlayers = new List<Player>();
    Player selectedPlayer = new();
    IEnumerable<Player> searchedPlayers = new List<Player>();
    IEnumerable<Team> allTeams = new List<Team>();


    protected override void OnInitialized()
    {
        allPlayers = dataService.GetPlayers();
        base.OnInitialized();
    }

    private void getPlayerByName()
    {
        searchedPlayers = dataService.GetPlayerByName(selectedPlayer.LastName);
    }

    private void getTeams()
    {
        allTeams = dataService.GetTeams();
    }



}
